{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load url from future %}
{% load dajaxice_templatetags %}
{% block extrahead %}
    {{ block.super }}
    {% dajaxice_js_import %}
    <script>
    function check_setting_password_length_callback(data){
        $("#check_setting_password_length").html(data.message);
    }
    function check_old_password_callback(data){
        $("#check_old_password").html(data.message);
    }
    function check_new_password1_callback(data){
        $("#check_new_password1").html(data.message);
    }
    function check_new_password2_callback(data){
        $("#check_new_password2").html(data.message);
    }
    </script>
{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <style>
    .alert {
        padding: 8px 14px 8px 14px !important;
    }
    </style>
{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>
{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
{% trans "A minimum password length of" %}
<strong id="check_setting_password_length">4</strong>
{% trans "characters is required." %}
</p>
<script>Dajaxice.django_pci_auth.views.check_setting_password_length(check_setting_password_length_callback);</script>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
    <input onchange="Dajaxice.django_pci_auth.views.check_old_password(check_old_password_callback, {'password':$('#id_old_password').val()})" id="id_old_password" type="password" name="old_password"><strong style="margin-left: 1em" id="check_old_password"></strong>
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
    <input onchange="Dajaxice.django_pci_auth.views.check_new_password1(check_new_password1_callback, {'password':$('#id_new_password1').val()})" id="id_new_password1" type="password" name="new_password1"><strong style="margin-left: 1em" id="check_new_password1"></strong>
</div>

<div class="form-row">
    {{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
    <input onchange="Dajaxice.django_pci_auth.views.check_new_password2(check_new_password2_callback, {'password': { 'new_password1': $('#id_new_password1').val(), 'new_password2': $('#id_new_password2').val() }})" id="id_new_password2" type="password" name="new_password2"><strong style="margin-left: 1em" id="check_new_password2"></strong>
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
